.bigg {
    font-size: 75pt;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}

.dot {
    border-radius: 1em;
    border: 5px solid black;
    width: 1em;
    height: 1em;
}

.select {
    background: transparent;
    border: none;
}

.select:hover.red {
    background: red;
}
.select:hover.yellow {
    background: yellow;
}

.dropped {
    position: absolute;
    transition: top 2s;
}

.absolute-zero {
    position: absolute;
    top: 1em;
    left: 1em;
}
